@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-text-menu: #333;
    --color-text-title: #4d4d4d;
    --color-text-desc: #888;
    --color-boder: #eee;
    --color-title-hover: #06c;
    --color-green: #0f6c32;
}
body {
    font-family: 'Inter', sans-serif;
    font-style: 14px;
    color: var(--color-text-title);
    word-break: normal;
}
.container {
    width: 1158px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: var(--color-text-desc);
    line-height: 20px;
}
h3 {
    line-height: 22px;
}
.mid .post_type2 h3 {
    line-height: 36px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: #222222;
    cursor: pointer;
}
.blue {
    color: var(--color-title-hover);
}
.bd {
    height: 20px;
    border: 1px solid #000;
}
.hr {
    width: 100%;
    border-bottom: 1px solid var(--color-boder);
    margin: 16px 0 16px;
}
.left .hr {
    margin: 16px 0 20px;
}
.hr1 {
    width: 100%;
    border-bottom: 2px solid var(--color-boder);
    margin: 20px 0;
}
.hr1.blue {
    width: 100%;
    border-bottom: 2px solid var(--color-title-hover);
    margin: 20px 0;
}
.hr1.red {
    width: 100%;
    border-bottom: 2px solid red;
    margin-top: 20px;
    margin-bottom: 0;
}
.hr2 {
    border-bottom: 4px solid #0f6c32;
    margin-top: 140px;
    margin-bottom: 30px;
}
.left {
    width: 23%;
    padding-right: 20px;
}
.mid {
    width: 47%;
    border-left: 1px solid var(--color-boder);    
    border-right: 1px solid var(--color-boder);  
    padding: 0 24px;  
}

.right {
    width: 30%;
    padding-left: 20px;
}
.post_type3 .post_content {
    width: 60%;
}
.post_type3 .post_img {
    width: 120px;
    height: 80px;
}

.mid .post_type3 .post_content {
    width: 70%;
}
.mid .post_type3 .post_img {
    width: 144px;
    height: 100px;
}
.section_one .post_type2 .post_img {
    height: 344px;
    width: 100%;
    overflow: hidden;
}
.section_three .post_type2 .post_img {
    width: 43%;
}
.section_three .post_type2 .post_content {
    padding-top: 0;
    padding-right: 8px;
    width: 57%;
}

.section_three_right .post_type2 .post_img {
    width: 100%;
    height: 128px;
}
.banner_adv {
    height: 100%;
    width: 100%;
    aspect-ratio: 0.52;
}

.section_three .banner_adv3 {
    margin: 0 auto;
    width: 90%;
    height: 300px;
    aspect-ratio: 0.5;
}
.section_two_two .mid, .section_two_two .left, .section_two_two .right {
    height: 310px;
}
.banner_adv2 {
    width: 100%;
    height: 100%;
}
.banner_adv_center {
    background: #888;
    width: 100%;
    height: 200px;
}
.col-md-7 .post_content {
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
}
.col-md-7 .post_img {
    width: 90px;
    height: 60px;
}
.col-md-5 {
    padding-right: 20px;
    border-right: 1px solid #eee;
}


/* header_img */
.header .header_top {
    margin-top: 20px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 137px;
    height: 46px;
}

.header_user {
    width: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_user a {
    padding: 6px;
    margin: 0 4px;
}
.header_user .login a {
    color: #808080;
    font-size: 14px;
    cursor: pointer;
}

.header .header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    font-size: 12px;
}
.header .header_menu>li {
    position: relative;
}
.header .header_menu>li:hover::after {
    content: "";
    width: 100%;
    display: block;
    top: calc(100%);
    left: 0;
    border-bottom: 2px solid green;
    position: absolute;
}
.header .header_menu a {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-text-menu);
    position: relative;
    display: block;
    padding: 12px 8px;
    white-space: nowrap;
    opacity: 0.8;
}



/*DROOPDOWN MENU*/
.dropdown_menu {
    position: relative;
    top: 0;
    left: 0;
}
.dropdown_menu:hover .header_sub_menu {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}
.header_sub_menu {
    position: absolute;
    top: calc(100% + 2px);
    z-index: 2;
    background: #eee;
    min-width: 140px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(15px);
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
}
.header_sub_menu::before {
    content: "";
    display: block;
    width: 1px;
    border-bottom: 10px solid #eee;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    position: absolute;
    top: -18px;
    left: 20px;
    z-index: 2;
}
.header_sub_menu li + li {
    border-top: 1px solid #ccc;
}
.header .header_sub_menu a {
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 500;
    opacity: 1;
}
.header .header_sub_menu a:hover {
    border: none;
    color: var(--color-title-hover);
    display: flex;
    align-items: center;
}

.header .header_sub_menu a::before {
    content: "";
    width: 0;
    height: 1px;
    margin-right: 4px;
    background: var(--color-title-hover);
    transition: all ease-in-out 0.3s;
}
.header .header_sub_menu a:hover::before {
    width: 10px;
}

/* footer_logo */
.footer {
    font-size: 14px;
}
.footer_logo {
    width: 102px;
    height: 32px;
}
.footer_content {
    margin-top: 10px;
}
.footer_content li {
    padding-bottom: 8px;
}

.download_app_iso a {
    display: block;
    width: 125px;
    height: 38px;
    background-size: cover !important;
    background: url(https://cdnweb.dantri.com.vn/dist/ee6bf097e303486d2a1c.png);
}
.download_app_ChPlay a {
    display: block;
    width: 125px;
    height: 38px;
    background-size: cover !important;
    background: url(https://cdnweb.dantri.com.vn/dist/25695d60eaeb16411962.png);
}

.footer_follow a {
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    margin-left: 12px;
}
.footer_follow .facebook {
    background: url(https://cdnweb.dantri.com.vn/dist/f79dca0321a473942b57.svg);
}
.footer_follow .youtube {
    background: url(https://cdnweb.dantri.com.vn/dist/add0b845165b2db1bdc0.svg);
}
.footer_follow .tiktok {
    background: url(https://cdnweb.dantri.com.vn/dist/e84c1388df2f58641617.svg);
}

/* btn_SlideToTop */
.btn_UpToTop {
    width: 40px;
    height: 40px;
    background: var(--color-boder);
    color: #333;
    position: fixed;
    bottom: 100px;
    right: 60px;
    border: none;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}
.btn_UpToTop:focus, .btn_UpToTop:hover {
    background: var(--color-green);
    color: #fff;
}
.btn_UpToTop:focus i, .btn_UpToTop:hover i {
    transform: translateY(-40%);
    transition: transform .6s;
}